.container h1 {
    color: #d64339;
    padding-top: 18px;
    font-size: 39px;
}

.header_background {
    background-color: #101f26;
    padding-top: 53px;

}

.container h3 {

    color: #db5439;
    padding-top: 5px;
    padding-left: -3px;
    padding-bottom: 7px;
    margin-bottom: auto;
    margin-top: auto;
    line-height: 20px;
    font-size: 19px;
}

.header h3 {
    color: white;

}

.header p {
    color: aliceblue;
    padding-top: 9px;
    padding-left: -1px;
    padding-left: 0px;
    padding-bottom: 21px;
    margin-bottom: auto;
    margin-top: auto;
    line-height: 23px;
    font-size: 14.7px;
    font-style: italic;
    word-spacing: 0px;
}


.background2 {
    background-color: #d64339;
    line-height: 50px;
    text-align: center;
}

h3 {
    color: #d64339;
    padding-top: 37px;
    font-size: 19px;
    padding-bottom: 23px;

}



.techskills h2 {
    color: #d64339;

}

.tech_skills p {
    line-height: 26px;
    font-size: 16px;
}

.professional_exp h2,
.professional_exp h3 {
    color: #d64339;
}

span {
    background-color: #0f1f26;
    color: #f3fafb;
    /* display: inline-block; */
    font-size: 13px;
    padding: 8px 20px;
    border-radius: 5px;
    line-height: 44px;
}

.container,
.professional_exp {
    width: 788px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 17px;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}

a {
    color: white;
    padding: 5px;
    padding-top: 11px;
    padding-bottom: 11px;
    /* word-spacing: 7px; */
    text-decoration: none;
}

h2 {
    color: #d64339;
    margin-top: 25px;
    padding-top: 13px;
    font-size: 19px;
    padding-bottom: 21px;
    position: relative;
}

.red-box {
    height: 47px;
    width: 33px;
    /* display: inline-block; */
    position: absolute;
    background-color: #db5439;
    top: -2px;
    left: -44px;
}