.header h1 {
    color: orangered;
    padding-top: 34px;
    font-size: 40px;
}

.header_background {
    background-color: #101f26;
    padding-top: 53px;

}

header p,
header h3 {

    color: aliceblue;
    padding-top: 8px;
    padding-bottom: 7px;
    margin-bottom: auto;
    margin-top: auto;
    line-height: 21px;
    font-size: 15px;
}


.background2 {
    background-color: #d64339;
}

h2,
h3 {
    color: #d64339;
}

.techskills h2 {
    color: #d64339;

}

.professional_exp h2,
.professional_exp h3 {
    color: #d64339;
}

span {
    background-color: #0f1f26;
    color: #f3fafb;
}

.container,
.professional_exp {
    width: 788px;
    margin-left: auto;
    margin-right: auto;
}